.result-head {
  display: flex;
  justify-content: space-between;
  .left {
    .btn-drawer {
      visibility: hidden;
      font-size: 13px;
      font-weight: bold;
    }
  }
  @include mobile-tablet-only {
    height: 40px;
    .left {
      text-align: right;
      width: 12rem;
      .btn-drawer {
        visibility: visible;
      }
    }
  }

  h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 2rem;
    color: #484848;
    @include mobile-tablet-only {
      font-size: 13px;
    }
  }

  span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #b0b0b0;
    b {
      color: $black;
      font-weight: bold;
    }

    @include mobile-tablet-only {
      font-size: 11px;
    }
  }
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  .filter {
    @include tablet-landscape-and-below {
      width: 25%;
    }
    @include mobile-tablet-only {
      display: none;
    }
    width: 240px !important;
  }

  .product-list {
    display: block;
    justify-content: center;
    width: calc(100% - 240px) !important;

    @include mobile-tablet-only {
      width: 100% !important;
    }

    @include tablet-landscape-and-below {
      width: unset;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;
      justify-content: space-between;

      @include mobile-only {
        display: block;
      }
      .productCard {
        position: relative;
        margin-bottom: 2rem;
        display: flex;
        text-align: center;
        width: calc(25% - 15px);
        padding: 0px 7.5px;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet-landscape-and-below {
          width: 45%;
        }

        @include mobile-tablet-only {
          width: 45%;
        }
        @include mobile-only {
          width: 100%;
          padding: unset;
        }

        .card-item {
          border: none;
          position: relative;
          transition: all ease 0.3s;
          font-size: 0;
          width: 100%;
          border-radius: 4px;
          &:hover {
            box-shadow: 0px 0px 0px 2px #e5e5e5;
          }
        }

        .cardImage {
          box-shadow: 0px 0px 0px 2px #e5e5e5;
          border-radius: 4px;
          display: inline-block;
          height: 345px;
          width: 100%;
          transition: all ease 0.3s;

          @include mobile-tablet-only {
            height: auto;
          }

          img {
            width: 224px;
            height: 332px;
            margin: 2px 10px;
            @include mobile-tablet-only {
              width: calc(100% - 20px);
              height: auto;
              margin: 2px 0;
              padding: 0 10px;
            }
          }
        }
        .cardBody {
          margin-top: 1rem;
          text-align: start;
          padding: 0 10px;
          @include mobile-only {
            padding: 1rem;
          }

          .title {
            font-family: "Roboto";
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #484848;
            margin-bottom: 10px;
            max-width: 85%;
          }

          .type {
            font-family: "Roboto";
            font-size: 12px;
            line-height: 18px;
            color: #484848;
            b {
              font-weight: 700;
            }
          }

          .crose {
            display: flex;
            .crose-price {
              font-family: "Roboto";
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              text-decoration-line: line-through;
              color: #9b9b9b;
            }

            .crose-rate {
              font-family: "Roboto";
              font-weight: 700;
              font-size: 12px;
              line-height: 18px;
              color: #f90000;
              margin-left: 5px;
            }
          }

          .price {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
          }
          .btn-basket {
            margin-top: 0.5rem;
            width: 100%;
            opacity: 0;
            visibility: hidden;
          }

          .btnn {
            position: absolute;
            max-width: calc(100% - 20px);
            bottom: 10px;
          }

          .btn-disabled {
            margin-top: 0.5rem;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: #f1f1f1;
            font-size: 12px;
            color: #b0b0b0;
          }
          transition: 400ms all;
        }
        &:hover {
          .cardImage {
            box-shadow: none;
          }
          .type {
            visibility: hidden;
            opacity: 0;
          }
          .crose-price{
            visibility: hidden;
            opacity: 0;
          }

          .crose{
            visibility: hidden;
            opacity: 0;
          }
          .price {
            visibility: hidden;
            opacity: 0;
          }
          .btn-basket {
            visibility: visible;
            opacity: 1;
          }

          .btn-disabled {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.filter-card {
  li {
    &.title {
      font-family: "Roboto";

      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #484848;
      margin: 1rem 0;
      cursor: pointer;
      transition: 200ms ease-in-out;
      &:hover {
        color: #ff6000;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    &.item {
      font-family: "Roboto";

      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #646464;
      cursor: pointer;
      transition: 200ms ease-in-out;
      &:hover {
        color: #ff6000;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .hr {
    display: none;
  }
}

.noResult {
  text-align: center;
  width: 100vw;

  svg {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    color: #919191;
    margin: 2rem;
  }
}

.brandlist {
  .slick-slide {
    margin: 0px 15px;
  }

  .slick-list {
    margin: 0px -15px;
  }

  .slick-track {
    display: flex;
  }

  @include mobile-tablet-only {
    display: none;
    margin: 2rem 0;
  }

  margin: 1rem 0;
  h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 2rem;
    color: #484848;
  }

  .item {
    padding: 2rem 0;
    outline: none;
    cursor: pointer;
    img {
      border-radius: 6px;
      overflow: hidden;
      border: solid 1px #e5e5e5;
      width: 100%;
      margin: auto;
    }

    p {
      font-size: 18px;
      color: #484848;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
    }
  }
}
