@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    overflow-x: hidden;
}

.postion-relative {
    position: relative !important;
    margin: inherit;
}

.postion-absolute {
    position: absolute !important;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0;

    @include desktop-landscape {
        max-width: calc(100% - 60px);
    }
}

.hide {
    visibility: hidden;
    height: 0px;
    opacity: 0;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

.hr {
    border: 1px solid #9098b1;
    margin: 1rem 0;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto 0;
}

.mtb-auto {
    margin: auto 0;
}

.m-0 {
    margin: 0px !important;
}

.m-1 {
    margin: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.m-2 {
    margin: 2rem !important;
}

.m-3 {
    margin: 3rem !important;
}

.m-4 {
    margin: 4rem !important;
}

.w-100 {
    width: 100vw;
}

.carousel-slider {
    margin-bottom: 2rem !important;
}

.slider-wrapper {
    border: 2px solid lightgray;

    border-radius: 5px;
}

.back-to-top {
    right: 10px;
    left: auto !important;
    margin-left: auto !important;
    place-content: space-between center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: url(https://images.hepsiburada.net/assets/storefront/arrow-up.svg);
    background-position: 16px 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    bottom: 34px;
    margin-left: 618px;
    padding: 8px 16px 8px 36px;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 8px 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    left: 50%;
    line-height: normal;
    position: fixed;
    text-align: center;
}
