@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$baseFontSize: 10;

$white: #ffffff;

$blue: #004cbc;
$lightblue: #0a72d2;

$darkgray: #242424;
$gray: #6e6e6e;
$lightgray: lightgray;
$gray6e: #080808;
$grayee: #eeeeee;
$gray97: #979797;
$grayd0: #d0d0d0;
$grayf7: #f7f8fa;
$grayf2: #f2f2f2;
$orange: #ff3f00;
$lime: #b1cc00;
$yellow: #fcd500;
$green: #6fcf35;
$darkgreen: #02c066;
$red: #fe0200;
$black: #0f0f0f;
$purple: #7d03fe;
$menuBarGreen: #52ad46;
$menuDarkGreen: #197419;

$success: #90d659;
$danger: #f90000;

$color-border: $grayee;
$color-default: $darkgray;

$base-font: "NotoIKEALatin", Ariel;
$icon-font: "icomoon";

$desktop: "only screen and (min-width: 1366px)";
$desktop-md: "only screen and (min-width: 992px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1250px)";
$tablet-horizontal: "only screen and (min-width: 992px) and (max-width: 1250px)";
$tablet-horizontal-custom: "only screen and (min-width: 1251px) and (max-width: 1350px)";
$tablet-vertical: "only screen and (min-width: 768px) and (max-width: 991px)";
$footer-fix: "only screen and (min-width: 1360px) and (max-width: 1650px)";
$tablet-mobile: "only screen and (max-width:991px)";
$mobile: "only screen and (max-width: 767px)";
$mobile-xs: "only screen and (max-width: 390px)";
$max1600: "only screen and (max-width: 1800px)";
$max1400: "only screen and (max-width: 1400px)";
$max1500: "only screen and (max-width: 1500px)";
$max1024: "only screen and (max-width: 1024px)";
$max992: "only screen and (max-width: 992px)";
$max570: "only screen and (max-width: 570px)";
$max400: "only screen and (max-width: 400px)";
$max1200: "only screen and (max-width: 1200px)";
$max1360: "only screen and (max-width: 1360px)";
$min768: "only screen and (min-width: 768px)";
$min992: "only screen and (min-width: 992px)";
$min1200: "only screen and (min-width: 1200px)";
$min768: "only screen and (min-width: 768px)";

$img-path: "../../img";

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;

$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;
$screen-xl-max: 5000px;
