$baseFontSize: 10;

$white: #ffffff;

$blue: #004cbc;
$lightblue: #0a72d2;

$lightorange :#ffeee3;

$black: #000000;
$dark: #484848;
$gray: #B0B0B0;
$lightgray: #9B9B9B;
$graybd:#BDBDBD;
$gray6e: #080808;
$disabled: rgba(126, 126, 126, 0.11);
$text: #646464;
$grayee: #eeeeee;
$gray97: #979797;
$greycd:#CDCDCD;
$grayd0: #d0d0d0;
$graye5: #E5E5E5;
$grayf2: #f2f2f2;
$orange: #FF6000;
$lime: #b1cc00;
$yellow: #fcd500;
$green: #6fcf35;
$darkgreen: #02c066;
$red: #fe0200;
$purple: #7d03fe;
$menuBarGreen: #52ad46;
$menuDarkGreen: #197419;

$success: #90d659;
$danger: #f90000;

$color-border: $grayee;

$base-font: "Roboto";